#add-via-email {
  p.current-email {
    display: inline-block;
    margin-right:1.5rem;
  }
  p.hint{
    display:block;
    clear:both;
  }
  .viaemail-link {
    display:inline-block;
    //margin:4px;
    color:$link-color;
    text-decoration:none;
  }
  a:not(:last-of-type):after {
    content: ' · ';
    color: rgba(0,0,0,0.5);
    padding: 0 0.2em;
  }
  
  span.label {
    border:1px solid #999;
    border-radius: 4px;
    margin-left:5px;
    margin-right:5px;
    padding:3px;
  }
  span.label {
    background-color:#EEE;
  }
  span.label.primary {
    color:#FFF;
    background-color:green;
  }
}