//changeusernametest
div.react.change-username {
	.profile-preview.invalid, .username-message.invalid {
		color:red;
	}
	.profile-preview.valid, .username-message.valid {
		color:green;
	}
	#username-form {
		margin-bottom: 2rem;
	}
}