.react-tabs {
	text-align:left;

	&__tab-list {
		//border-bottom: 1px solid #aaa;
		//margin: 0 0 10px;
		margin:0;
		padding: 0;
	}

	&__tab {
		width:41%;
		text-align:center;
		display: inline-block;
		border: 1px solid transparent;
		border-bottom: none;
		bottom: -1px;
		position: relative;
		list-style: none;
		padding: 12px 24px;
		cursor: pointer;
		font: {
			family: inherit;
			size: 16px;
		}
		background: #ddd;

		&--selected {
			background: #fff;
			border-color: #aaa;
			color: black;
			//border-radius: 5px 5px 0 0;
			border-top: 3px solid salmon;
		}
		&:focus {
			box-shadow: 0 0 5px hsl(208, 99%, 50%);
			border-color: hsl(208, 99%, 50%);
			outline: none;

			&:after {
				content: "";
				position: absolute;
				height: 5px;
				left: -4px;
				right: -4px;
				bottom: -5px;
				background: #fff;
			}
		}
	}

	&__tab-panel {
		display: none;
		padding:20px;

		&--selected {
			display: block;
		}

		&--disabled {
			color: GrayText;
			cursor: default;
		}
	}
}
