// Zotero.org mixins using bootstrap values
.major-col {
	@include make-sm-column(8);
}

.minor-col {
	@include make-sm-column(4);
}

.single-col {
	@include make-sm-column(12);
}

.gradient-button {
	background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25) 50.1%, rgba(255, 255, 255, 0));
}


.primarynav {
	border-radius: 10px 10px 0px 0px;
}

.navbar-form.navbar-right:last-child {
	margin-right: 0px;
}

#primary-dropdown {
	left: auto;
	right: auto;
}


// Added because of iframe showing up on registration form, supposedly
// because of the ReCaptcha field.
iframe[src="about: blank"]{
	display: none;
}

div.sticky-note {
	background-color: $sticky-yellow;
	padding: 8px;
}

.sticky-note ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.sticky-note li {
	margin-bottom: 1em;
}

#groups-screencast {
	max-width: 100%;
}

/* Nuggets!!!!!! */

.nugget-full {
	margin-bottom: 1.42857143em;
}

.nugget-full img {
	float: left;
}
.nugget-full .nugget-name {
	font-size: 1.42857143em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.nugget-full .nugget-name a {
	text-decoration: none;
}

.nugget-full .nugget-name,
.nugget-full .nugget-affiliation,
.nugget-full .action-links,
.nugget-full dl {
}

.nugget-small img {
	float: left;
}

.nugget-small .nugget-affiliation,
.nugget-small .nugget-name {
	margin-left: 60px;
}

.nugget-small .nugget-affiliation {
	font-size: 0.785714286em;
	color: #999;
}

#group-library-link-nav a {
	font-weight: bold;
}

/* == Homepage, not logged in == */
#zotero-banner {
	font-size: 115%;
	float: left;
	margin-bottom: 40px;
	line-height: 150%;
}

#download {
	display: block;
	text-decoration: none;
	padding: 20px 0;
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
	border-radius: 10px;
}

#download:link,
#download:visited {
	border-color: #a00;
	background-color: #a00;
}

#download:hover,
#download:active {
	border-color: #c00;
	background-color: #c00;
}

#features {
	clear: both;        
	padding: 40px;
	background: rgba(51,136,204,0.2);
}

#features p {
	padding: 10px;
}

#features h3 {
	font-size: 1.5em;
	text-align: center;
}

.feature h3 {
	font-weight: bold;
	margin-bottom: 1em;
}

.feature img {
	background-color: rgba(0,0,0,0.1);
	padding: 5px;
	margin-bottom: 10px;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

#features-lists .feature:nth-child(2n) img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

#media {
	padding: 40px 0;
}

#media h2 {
	margin-top: 0;
}

#media > div {
	float: left;
	width: 31%;
	margin-right: 3%;
	padding-bottom: 1em;
}

.news-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#connect ul {
	list-style: none;
	line-height: 2;
	margin: 0;
	padding: 0;
}

#connect li {
	margin-bottom: 1em;
}
#connect a {
	text-decoration: none;
	font-weight: bold;
}

#connect a img {
	vertical-align: middle;
	margin-right: 8px;
	opacity: 0.75;
	width: 40px;
	height: 40px;
}

#connect a:hover img,
#connect a:active img {
	opacity: 1;
}

#get-involved {
	margin-right: 0 !important;
}

/* == Standalone Start Page == */
.download-section {
	/*background: rgba(51, 136, 204, 0.2);*/
	background-color: #e6e6e6;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.download-section ul {
	list-style: none;
}

.download-section li {
	margin-bottom: 12px;
}

#recommended-client-download a.download-link,
#firefox-section a.download-link {
	display: block;
	padding: 0;
	height: 45px;
	width: 236px;
	line-height: 45px;
	position: relative;
	padding-left: 64px;
	margin-left: 40px;
}

#recommended-connector-download a.download-link {
	font-size: 13px;
	margin-right: 10px;
	opacity: 0.5;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#recommended-connector-download a.recommended-download {
	opacity: 1.0;
}

#recommended-connector-download a.download-link:hover {
	opacity: 1.0;
}


/* == Download Page == */
#recommended-client-download ul {
	list-style: none;
	
}
#recommended-connector-download ul {
	list-style: none;
}

#download-options ul {
	list-style: none;
}

// == Bookmarklet Page ==
ul#bookmarklet-tabs li {
	border-right: 1px solid $border-grey;
	padding-top: 8px;
	padding-bottom: 10px;
	cursor: pointer;
	list-style-position: inside;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,0);
	border-bottom: 1px solid rgba(255,255,255,0);
}

ul#bookmarklet-tabs li.selected {
	border-top: 1px solid $border-grey;
	border-bottom: 1px solid $border-grey;
	border-right: 0px;
}

#bookmarklet-div {
	padding-left: 10px;
}

/* == User Pages == */
#profile-picture {
	float: left;
	width: 50px;
	margin-right: 8px;
}

#profile-picture img {
	max-width: 100%;
}

/* == User CV == */
div.csl-entry {
	margin-bottom: 1em;
}

div.cv-section {
	background-color: #EEE;
	padding: 10px;
	margin-bottom: 15px;
	border: 2px dashed #BBB;
	border-radius: 10px;
}

/* == Publications == */
div.publications-infobox div.well {
	margin-top: 15px;
}
div.publications-infobox .dl-horizontal dt {
	width: 100px;
}

div.publications-infobox .dl-horizontal dd {
	margin-left: 110px;
}

/* == Groups pages == */
ul#groups {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

ul#groups > li {
	margin-bottom: 1.42857143em;
}

ul#groups th {
	width: 25%;
}

ul#group-invitations {
	list-style: none;
}

a.group-image img {
	padding: 2px 4px;
}

div.nugget-group {
	border-top: 2px solid rgba(0,0,0,0.3);
	padding-top: 8px;
	padding-left: 4px;
}

ul.groups-list {
	list-style: none;    
}

div#newest-groups ul {
	list-style: none;
}

/* New Group Form */
.group-select {
	border-radius: 10px;
	width: 27%;
	float: left;
	margin-right: 3%;
	padding: 2%;
	background-color: rgba(0,0,0,0.05);
}

.group-select:last-child {
	margin-right: 0;
}

.group-select h2 {
	font-size: 1em;
	color: #333;
	margin: 0 0 1em;
}

.group-select p,
.group-select label {
	font-size: 0.857142857em;
}

.group-select input,
.group-select label {
	display: inline;
	font-weight: bold;
}

/* == Search == */
li.support-result {
	margin-bottom: 10px;
}

#search-form .tab-content {
	margin-top: 10px;
}

/* == dokuwiki == */
#dw__breadcrumbs .breadcrumb {
	margin-bottom: 0;
}

#dokuwiki__content h1 {
	clear: both;
}

/* == Typeahead == */

.tt-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
/*  font-size: 24px;
  line-height: 30px;*/
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
	 -moz-border-radius: 8px;
		  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  max-width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
	 -moz-border-radius: 8px;
		  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  /*font-size: 18px;
  line-height: 24px;*/
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.tab-pane {
	transform: translateZ(0); 
}
