$sticky-yellow: #f1f177;
$light-blue: rgba(51, 136, 204, .1);
$medium-blue: rgba(51, 136, 204, .2);
$border-grey: #bbb;
$light-grey: #ccc;

// overrides for bootstrap's !default values:
$icon-font-path: '../fonts/glyphicons-halflings/';
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.15)); // ~30px
$font-size-h2: floor(($font-size-base * 1.9)); // ~26px
$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
