//
// All extensions
// --------------------------------------------------

// Other browsers
.all-extensions {
  overflow: hidden; // Fix jump in animation caused by negative margin-bottom

  h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0 13px 0;
  }

  ul {
    text-align: center;
    margin: 30px 0 3px;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 $grid-gutter-width;
      margin-bottom: 30px;
    }
  }

  .btn {
    color: $white;
    background: $link-color;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px;

    &:hover {
      background: darken($link-color, 5%);
    }
  }

  .bookmarklet {
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }
}