//
// All extensions
// --------------------------------------------------

// Other browsers
.all-extensions {
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: (20px - 8px) 0 (20px - 3px);
  }

  ul {
    text-align: center;
    margin: 30px 0 3px;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 $grid-gutter-width;
      margin-bottom: $spacer-xxl - rem(8);
    }
  }

  .bookmarklet {
    font-size: $font-size-sm;
    color: $gray-700;
    margin: 0;
    text-align: center;
  }
}
