//
// Base
//

body {
  &.nav-opened {
    overflow: hidden;
  }
}

.site-wrapper {
  background: $white;
  position: relative;
  transition: transform $mobile-nav-transition;

  .nav-opened & {
    transform: translate3d(-100%, 0, 0) translate3d(#{$nav-toggle-width}, 0, 0);
  }
}

:focus {
  outline: none;
  outline-offset: $outline-offset;

  .keyboard-user & {
    outline: $outline-width solid $outline-color;
  }
}

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .nav-link,
  .btn,
  .follow-us {
    visibility: hidden;
  }
}
