//
// Base
//

body {
  &.nav-opened {
    overflow: hidden;
  }
}

.site-wrapper {
  background: $white;
  position: relative;
  transition: transform $mobile-nav-transition;

  .nav-opened & {
    transform: translate3d(calc(-100% + #{$nav-toggle-width}), 0, 0); // Nav-toggle width
  }
}

:focus {
  outline: none;
  outline-offset: $outline-offset;

  .keyboard-user & {
    outline: $outline-width solid $outline-color;
  }
}
