.manage-contribution {
  .card-body {
    text-align:center;
  }
  .amount-cell {
    display:inline-block;
    border:1px solid #999;
    width:25%;
    background-color:#ddd;
    padding:1rem;
    margin:.1rem;
    border-radius:3px;
    text-align:center;
  }
  .amount-cell.selected {
    background-color: #66f;
  }
}