main.downloads {
  background-color: $gray-100;
  border-top: 1px solid $gray-200;
  padding-top: $spacer-lg;

  @include media-breakpoint-down(xs) {
    background-color: $white;
    border-top: none;
    padding: $spacer;
  }

  p.lead {
    color: $text-muted;
    max-width: 100%;
  }

  section.download-section,div.download-section {
    background-color: white;
    border-radius: 5px;
    padding:32px;
    padding-bottom:0;
    margin-bottom: 1.5rem;
    border: 1px solid $gray-200;
    text-align: center;
    height: 100%;

    div.download-button .btn {
      margin-top: 8px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 1.5rem;
      height: auto;
    }

    div.additional-notes {
      padding-top: 8px;
      min-height: 150px;
    }
  }

  .other-versions {
    padding: 8px 0;
  }

  .bottom-collapse {
    padding: 0 24px 12px;
    text-align: left;
    border-top: 2px solid $gray-200;
    
    .toggle {
      cursor: pointer;
      margin-left: -8px;
      padding: 16px 0;
    }

    .toggle a {
      color: $gray-900;
      font-weight:bold;
      font-size: 16px;
    }
  }

  .download-image {
    // width: 118px;
    // height: 128px;
    margin-bottom: 14px;

    @media (width > 1040px) {
      // width: 147px;
      // height: 160px;
      margin-bottom: 28px; // 48px
    }
  }

  .version-note {
    line-height: 1.42857143; // Reset
    font-size: 12px;
  }

  .version-note, .installation-help {
    margin: 21px 0 -21px;
  }

  .standalone {    
    ul.old-versions {
      padding-left:16px;

      li {
        list-style-type: none;
        // display: inline-block;

        // & + li::before {
        //   content: "·";
        //   margin: 0 8px;
        // }
      }
    }

    ul.os-list {
      padding-left: 16px;

      li {
        list-style: disc;

        ul {
          padding-left: 16px;
          // display: inline-block;
        }

        li {
          list-style: none;
          // white-space: nowrap;
          // display: inline-block;
        }
  
        // li::before {
        //   content: "·";
        //   margin: 0 8px;
        // }
        
        // li:first-child::before {
        //   content:'';
        //   margin: 0 4px;
        // }
      }
    }

    .old-versions {
      @media (width <= 1040px) {
        li {
          display: block;
          margin-top: 5px;
        }

        // ul li {
        //   & + li::before {
        //     content: none;
        //   }
        // }
      }

      h3 {
        font-size: 16px;
        line-height: inherit;
        color: #444;
        font-weight: 700;
        margin: 14px 0 0;
      }
    }
  }

  .connector {
    padding-top: 64px;

    @include media-breakpoint-up(sm) {
      padding-top: 0;
    }

    .browser-plus-extension {
      margin-bottom: 14px;

      @include media-breakpoint-up(sm) {
        margin: {
          top: 10px;
          bottom: 27px; // align h1
        }
      }

      @media (width > 1040px) {
        margin: {
          top: 16px;
          bottom: 44px;
        }
      }

      .browser-icon {
        @include media-breakpoint-up(sm) {
          width: 96px;
          height: 96px;
        }

        @media (width > 1040px) {
          width: 96px;
          height: 96px;
        }
      }

      .zotero-icon {
        @include media-breakpoint-up(sm) {
          width: 96px;
          height: 105px;
        }

        @media (width > 1040px) {
          width: 112px;
          height: 122px;
        }
      }
    }

    .icon-plus {
      @include media-breakpoint-up(sm) {
        width: 36px;
        height: 36px;
        background: url($staticPath + "/images/downloads/icon-plus.svg") no-repeat 0 0;
        background-size: 100%;
        margin: 0 10px 0 11px;
      }

      @media (width > 1040px) {
        width: 42px;
        height: 42px;
        margin: 0 13px 0 14px;
      }
    }

    .description {
      font-size: 14px;
      color: $gray-600;
      margin: 14px auto 0;
      word-spacing: -0.5px;

      @include media-breakpoint-up(sm) {
        max-width: 330px;
      }
    }

    .all-extensions {
      ul {
        li {
          padding: 0 calc($grid-gutter-width / 2);
        }
      }
    }

    .danger {
      color:#D00;
    }

	#safari-download-text-small {
      max-width: 300px;
	}
  }

  section#download-mobile-section {
    border-top: 1px solid $gray-200;
    background-color: $white;
    margin-top: $spacer-xl;
    padding: $spacer-xl 32px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      padding: 80px 32px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 1.5rem;
      height: auto;
    }

    div.mobile-text {
      text-align: left;

      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }

    img.apple-store-link {
      height:50px;
      float:left;
      margin-right: $spacer;
    }

    p.android-teaser {
      padding-top: 12px;
    }
  }
}
