.downloads {
	margin: 0 -40px;

	.container {
		padding: 0 15px;

		@media (min-width: $screen-sm-min) {
			padding: 0 40px;
		}
	}

	* {
		box-sizing: border-box;
	}

	a {
		color: $link-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	h1 {
		margin: 0;
		line-height: 1.1;
	}

	.btn {
		color: $white;
		background: $link-color;
		text-decoration: none;
		font-size: 16px;
		min-width: 160px;
		padding: 9px 23px;
		border-radius: 4px;

		@media (min-width: 1040px) {
			font-size: 20px;
		}

		&:hover {
			background: darken($link-color, 5%);
			text-decoration: none;
		}
	}

	.jumbotron {
		text-align: center;
		margin-top: 60px; // 96px
		line-height: 24px;

		@media (min-width: $screen-sm-min) {
			-js-display: flex;
			display: flex;
		}

		h1 {
			font-size: 30px;
			margin-bottom: 8px;
			letter-spacing: -1px;

			@media (min-width: 1040px) {
				font-size: 36px;
			}
		}

		.lead {
			font-size: 14px;
			line-height: 24px;
			margin: 0 auto 20px; // 27px

			@media (min-width: 1040px) {
				font-size: 16px;
				margin-bottom: 34px; // 40px
			}
		}
	}

	.standalone,
	.connector {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
		background-color: $gray-lightest;
		background-image: linear-gradient($white 0%, $gray-lightest 33%);
		padding: 0 20px 57px; // 64px

		@media (min-width: $screen-sm-min) {
			padding: 0 20px 89px; // 96px
			margin: 0 20px;
		}
	}

	.download-image {
		display: block;
		margin: 0 auto;
	}

	.version-note {
		font-size: 12px;
		line-height: 1.42857143; // Reset
		color: $slate;
		margin: 12px 0 -36px 0;

		@media (min-width: $screen-sm-min) {
			margin-bottom: -68px;
		}
	}

	.standalone {
		.download-image {
			margin-bottom: 14px; // 32px

			@media (min-width: 1040px) {
				margin-bottom: 29px; // 48px
			}
		}

		.other-versions {
			color: $slate;
			margin: 37px 0 0 0;
		}

		.os-list {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				display: inline;

				& + li:before {
					content: "·";
					margin: 0 8px;
				}
			}
		}
	}

	.connector {
		padding-top: 64px;

		@media (min-width: $screen-sm-min) {
			padding-top: 0;
		}

		.download-image {
			margin-bottom: 24px;

			@media (min-width: 1040px) {
				margin-bottom: 39px; // align h1
			}
		}

		.description {
			font-size: 14px;
			margin: 14px auto 0;
			color: $slate;

			@media (min-width: $screen-sm-min) {
				max-width: 370px;
				padding: 0 20px;
			}
		}
	}

	.plugins {
		text-align: center;
		margin: 52px 0 51px 0; // 64px
		padding: 0 5px;

		h1 {
			font-size: 30px;
			margin: 0 0 8px 0;
		}

		p {
			font-size: 16px;
			line-height: 1.5;
			margin: 0;

			@media (min-width: $screen-sm-min) {
				max-width: 500px;
			}
		}
	}

	.plugins-container {
		display: inline-block;
		vertical-align: top;

		@media (min-width: $screen-sm-min) {
			text-align: left;
			margin-left: 80px;
		}
	}

	.plugins-icon {
		margin-bottom: 15px; // 32px

		@media (min-width: $screen-sm-min) {
			float: left;
			margin-right: 40px;
			margin-bottom: 0;
		}
	}
}

#download-options {
	clear:both;
	border-top:2px solid #BBB;
	background-color:#DDD;
	min-height:220px;
	margin:0pt -40px;
	padding:10px 40px;
	text-align:center;

	ul {
		padding:0;
	}

	#client-downloads {
		float:left;
		width:25%;
		text-align:left;
		margin-left:50px;
	}
	#connector-downloads {
		float:left;
		width:25%;
		text-align:left;
	}
	#word-processor-downloads {
		float:left;
		width:35%;
		text-align:left;
	}
}