.downloads {

	.container {
		padding: 0 15px;

		@include media-breakpoint-up(sm) {
			padding: 0 40px;
		}
	}

	h1 {
		margin: 0;
		line-height: 1.1;
	}

	.downloadButton .btn,
	.lead + .btn {
		font-size: 16px;
		min-width: 160px;
		text-decoration: none;
		font-size: 16px;
		padding: 9px 23px;
		border-radius: 4px;

		@media (min-width: 1041px) {
			font-size: 20px;
		}
	}

	.jumbotron {
		text-align: center;
		//margin-top: 60px; // 96px
		line-height: 24px;
		background-color: $white;

		@include media-breakpoint-up(sm) {
			-js-display: flex;
			display: flex;
		}

		h1 {
			font-size: 30px;
			margin-bottom: 8px;
			letter-spacing: -1px;

			@media (min-width: 1041px) {
				font-size: 36px;
			}
		}
		h1:not(.wrap) {
			white-space: nowrap;
		}

		.lead {
			font-size: 14px;
			line-height: 24px;
			margin: 0 auto 20px; // 27px
			width: auto;

			@media (min-width: 1041px) {
				font-size: 16px;
				margin-bottom: 28px; // 40px
			}
		}
	}

	.standalone,
	.connector {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
		background-color: $gray-100;
		background-image: linear-gradient($white 0%, $gray-100 33%);
		padding: 0 20px 57px; // 64px
		position: relative;

		@include media-breakpoint-up(sm) {
			padding: 0 20px 89px; // 96px
			margin: 0 20px;
		}

		p {
			margin-bottom: 0;
		}
	}

	.download-image {
		width: 118px;
		height: 128px;
		margin-bottom: 14px;

		@media (min-width: 1041px) {
			width: 147px;
			height: 160px;
			margin-bottom: 28px; // 48px
		}
	}

	.version-note {
		line-height: 1.42857143; // Reset
		font-size: 12px;
	}

	.version-note, .installation-help {
		margin: 21px 0 -21px 0;
	}

	.standalone {
		.other-versions {
			color: $gray-600;
			margin: 38px 0 0 0;
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
				display: inline;
			}
		}

		.os-list,
		.old-versions ul {
			li {
				& + li:before {
					content: "·";
					margin: 0 8px;
				}
			}
		}

		.old-versions {
			@media (max-width: 1040px) {
				li {
					display: block;
					margin-top: 5px;

				}

				ul li {
					& + li:before {
						content: none;
					}
				}
			}

			h3 {
				font-size: 16px;
				line-height: inherit;
				color: #444;
				font-weight: 700;
				margin: 14px 0 0;
			}
		}
	}

	.connector {
		padding-top: 64px;

		@include media-breakpoint-up(sm) {
			padding-top: 0;
		}

		.browser-plus-extension {
			margin-bottom: 14px;

			@include media-breakpoint-up(sm) {
				margin: {
					top: 10px;
					bottom: 27px; // align h1
				}
			}

			@media (min-width: 1041px) {
				margin: {
					top: 16px;
					bottom: 50px;
				}
			}

			.browser-icon {
				@include media-breakpoint-up(sm) {
					width: 96px;
					height: 96px;
				}

				@media (min-width: 1041px) {
					width: 112px;
					height: 112px;
				}
			}

			.zotero-icon {
				@include media-breakpoint-up(sm) {
					width: 96px;
					height: 105px;
				}

				@media (min-width: 1041px) {
					width: 112px;
					height: 122px;
				}
			}
		}

		.icon-plus {
			@include media-breakpoint-up(sm) {
				width: 36px;
				height: 36px;
				background: url($staticPath + "/images/downloads/icon-plus.svg") no-repeat 0 0;
				background-size: 100%;
				margin: 0 10px 0 11px;
			}

			@media (min-width: 1041px) {
				width: 42px;
				height: 42px;
				margin: 0 13px 0 14px;
			}
		}

		.description {
			font-size: 14px;
			color: $gray-600;
			margin: 14px auto 0;
			word-spacing: -0.5px;

			@include media-breakpoint-up(sm) {
				max-width: 330px;
			}
		}

		.all-extensions {
			ul {
				li {
					padding: 0 ($grid-gutter-width / 2);
				}
			}

			.bookmarklet {
				color: #777;
				max-width: 330px;
				margin: auto;
			}
		}

		.danger {
			color:#D00;
		}
	}

	.plugins {
		text-align: center;
		margin: 52px 0 51px 0; // 64px
		padding: 0 5px;

		h1 {
			font-size: 30px;
			margin: 0 0 8px 0;
		}

		p {
			font-size: 16px;
			line-height: 1.5;
			margin: 0;

			@include media-breakpoint-up(sm) {
				max-width: 500px;
			}
		}
	}

	.plugins-container {
		display: inline-block;
		vertical-align: top;

		@include media-breakpoint-up(sm) {
			text-align: left;
			margin-left: 80px;
		}
	}

	.plugins-icon {
		margin-bottom: 15px; // 32px

		@include media-breakpoint-up(sm) {
			float: left;
			margin-right: 40px;
			margin-bottom: 0;
		}
	}
}
