//
// Extensions picker
// --------------------------------------------------

#extensions-picker {

	// Jumbotron
	.jumbotron {
		background: $gray-lightest; // IE9 fallback
		background: linear-gradient($white, $gray-lightest);
		padding: 28px 0 48px;
		text-align: center;
		position: relative;

		@media (min-width: $screen-sm-min) {
			padding: 20px 0 80px;
		}

		.lead {
			margin-bottom: 21px; // 27px

			@media (min-width: $screen-sm-min) {
				margin-bottom: 34px; // 40px
			}
		}

		.btn {
			font-size: 16px;
			min-width: 160px;
			padding: 9px 23px;
			border-radius: 4px;

			@media (min-width: $screen-sm-min) {
				font-size: 20px;
			}
		}

		.show-extensions,
		.get-zotero-standalone {
			font-size: 16px;
			line-height: 22px;
			margin: 16px 0 0;

			@media (min-width: $screen-sm-min) {
				position: absolute;
			}

		}

		.show-extensions {
			@media (min-width: $screen-sm-min) {
				left: 40px;
				bottom: 18px;
				text-align: left;
			}

			&.fade-out {
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
			}

			.browser-icon {
				margin-bottom: -2px;

				& + .browser-icon {
					margin-left: 8px;
				}
			}
		}

		.get-zotero-standalone {
			margin-top: 32px;

			@media (min-width: $screen-sm-min) {
				right: 40px;
				bottom: 18px;
				text-align: right;
			}

			img {
				margin-bottom: -4px;
			}
		}
	}

	.browser-plus-extension {
		margin: 0;

		img {
			vertical-align: middle;
		}

		.icon-plus {
			display: inline-block;
			width: 48px;
			height: 48px;
			background: url("../assets/images/extensions/icon-plus.svg") no-repeat 0 0;
			vertical-align: middle;
			margin: 0 15px 0 16px;
		}

		@media (max-width: $screen-xs-max) {
			.browser-icon {
				width: 64px;
				height: 64px;
			}

			.icon-plus {
				width: 24px;
				height: 24px;
				margin: 0 9px 0 11px;
			}

			.zotero-icon {
				width: 64px;
				height: 70px;
			}
		}
	}

	// Other browsers
	.all-extensions {
		h3 {
			font-size: 16px;
			margin: 3px 0 13px 0;
		}

		ul {
			text-align: center;
			margin: 30px 0 -30px;
			padding: 0;

			li {
				display: inline-block;
				padding: 0 $grid-gutter-width;
				margin-bottom: 30px;
			}
		}
	}
}
