//
// Extensions
// --------------------------------------------------

@keyframes slide-in {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.extensions {
	margin: 0 -40px;
  animation: slide-in 0.8s ease;

	* {
		box-sizing: border-box;
	}

	.line {
		@media (min-width: $screen-sm-min) {
			display: block;
		}
	}


	// Grid

	.container {
		padding: 0 ($grid-gutter-width / 2);

		@media (min-width: $screen-sm-min) {
			padding: 0 80px;
		}
	}

	.row {
		margin: 0 (-$grid-gutter-width / 2);

		&.compact {
			margin: 0 (-$grid-gutter-compact / 2);
		}

		&.loose {
			margin: 0 (-$grid-gutter-loose / 2);
		}
	}

	.col-4, .col-6 {
		padding: 0 ($grid-gutter-width / 2);

		@media (min-width: $screen-sm-min) {
			float: left;
		}
	}

	.col-4 {
		@media (min-width: $screen-sm-min) {
			width: calc(33%);
		}
	}

	.col-6 {
		@media (min-width: $screen-sm-min) {
			width: 50%;
		}
	}

	.row.compact {
		.col-4, .col-6 {
			padding: 0 ($grid-gutter-compact / 2);
		}
	}

	.row.loose {
		.col-4, .col-6 {
			padding: 0 ($grid-gutter-loose / 2);
		}
	}


	// Extensions styles

	h1, h2, h3 {
		line-height: 1.1;
	}

	h1, h2 {
		text-align: center;
	}

	h1 {
		font-size: 24px;
		margin: 27px auto 16px; // 48px

		@media (min-width: $screen-sm-min) {
			font-size: 36px;
			letter-spacing: -1px;
		}
	}

	h2 {
		font-size: 20px;
		color: inherit;

		@media (min-width: $screen-sm-min) {
			font-size: 30px;
			margin: 48px 0 16px;
			letter-spacing: -0.5px;
		}
	}

	h3 {
		font-size: 16px;
		margin: 31px 0 14px;

		@media (min-width: $screen-sm-min) {
			font-size: 24px;
			letter-spacing: -0.3px;
		}
	}

	.lead {
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		margin: 0 auto;

		@media (min-width: $screen-sm-min) {
			width: 80%;
		}
	}

	hr {
		border: 0;
		border-top: 1px solid $gray-light;
		margin: 0;
	}

	.btn {
		color: $white;
		background: $link-color;
		text-decoration: none;
		border-radius: 3px;
		padding: 5px 15px;

		&:hover {
			background: darken($link-color, 5%);
		}
	}

  // Features
  .features {
    padding-bottom: 41px; // 60px

    img {
      display: block;
      margin: 54px auto 0;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .features-1 {
    h2 {
      margin-top: 69px; // 80px
    }
  }
}
