//
// Footer
//

.main-footer {
  background: $blue-dark;
  color: rgba($white, 0.5);
  padding: $spacer-lg 0 rem(40);

  a {
    color: rgba($white, 0.5);

    &:hover {
      color: $white;

      img {
        opacity: 1;
      }
    }

    img {
      opacity: 0.5;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-only("xl") {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer-nav,
  .social-nav {
    flex: 0 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-only("xl") {
      margin-left: -$nav-link-padding-x;
    }
  }

  .social-nav {
    display: flex;
    align-items: center;
    padding: {
      top: $spacer-sm;
      bottom: $spacer-sm;
    }

    .nav-link {
      padding: 0; // Set padding on social-nav for better-looking focus outline

      img {
        display: block;
      }
    }
  }

  .follow-us {
    color: rgba($white, 0.25);

    @include media-breakpoint-down("lg") {
      display: none;
    }
  }

  .twitter {
    @include media-breakpoint-only("xl") {
      margin-left: 12px;
    }
  }

  .fb {
    margin-left: $spacer-min + $spacer-min / 2;
  }

  .rss {
    margin-left: $spacer-xs;
  }

  .credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px; // 64px

    @include media-breakpoint-up("md") {
      margin-top: 77px; // 96px
    }

    @include media-breakpoint-only("xl") {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .chnm-link {
    flex: 0 0 auto;
    margin-right: -$spacer; // Optical center

    @include media-breakpoint-only("xl") {
      margin-right: 0; // Reset
    }
  }

  .about {
    font-size: $font-size-sm;
    text-align: center;
    margin: $spacer-xl 0 0;

    @include media-breakpoint-between("md", "lg") {
      width: 80%;
      margin: {
        left: auto;
        right: auto;
      }
    }

    @include media-breakpoint-up("xl") {
      flex: 0 0 50%;
      margin: (-$spacer) 0;
      text-align: right;
      position: relative;
      bottom: 2px;
    }

    a {
      text-decoration: underline;
    }
  }
}
