//
// Header
//

.main-header {
  display: flex;
  height: $spacer-xxxl;

  @include media-breakpoint-up("lg") {
    height: $main-header-height;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    img {
      @include media-breakpoint-down("sm") {
        width: auto;
        height: 28px;
      }
    }
  }

  .main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .nav-item {
    &.active {
      // todo
    }
  }

  .nav-link {
    color: $body-color;

    &:hover {
      // todo
    }
  }

  .log-in {
    color: $link-color;

    &:hover {
      // todo
    }
  }

  .upgrade-storage {
    margin-left: $spacer;
  }

  .nav-toggle {
    border: none;
    background: transparent;
    padding: $spacer-sm ($grid-gutter-width / 2);
    line-height: 1;
    color: inherit;
    margin-right: -$grid-gutter-width / 2;

    @each $bp in sm, md {
      @include media-breakpoint-only($bp) {
        position: absolute;
        top: ($main-header-height - $nav-toogle-height) / 2; // Fix position on iPad 3
        right: calc((100% - #{map-get($container-max-widths, $bp) - $grid-gutter-width}) / 2);
        transition: right $mobile-nav-transition;

        .nav-opened & {
          right: $grid-gutter-width / 2;
        }
      }
    }

    svg {
      vertical-align: top;
    }
  }
}
