//
// Header
//

.main-header {
  display: flex;
  height: $main-header-height-mobile;

  @include media-breakpoint-up("lg") {
    height: $main-header-height;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    &:focus {
      outline-offset: 5px;
    }

    img {
      @include media-breakpoint-down("md") {
        width: auto;
        height: 28px;
      }
    }
  }

  .main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .nav-item {
    &.active {
      // todo
    }
  }

  .nav-link {
    color: $body-color;

    &:hover {
      // todo
    }
  }

  .log-in {
    color: $link-color;

    &:hover {
      // todo
    }
  }

  .user-dropdown-toggle {
    color: $link-color;

    @include media-breakpoint-up("lg") {
      max-width: rem(126); // spacer-xl between brand and first link
    }

    @include media-breakpoint-up("xl") {
      max-width: rem(324); // spacer-xxxl between brand and first link
    }

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: none;

      .keyboard-user & {
        outline: $outline-width solid $outline-color;
      }
    }

    &::after {
      content: none;
    }
  }

  .upgrade-storage {
    margin-left: $spacer;
    font-size: $font-size-sm;
    padding-top: $btn-padding-y-sm + ($font-size-base - $font-size-sm) / 2;
    padding-bottom: $btn-padding-y-sm + ($font-size-base - $font-size-sm) / 2;
  }

  .nav-toggle {
    border: none;
    background: transparent;
    padding: $spacer-sm ($grid-gutter-width / 2);
    line-height: 1;
    color: inherit;
    margin-right: -$grid-gutter-width / 2;
    border-radius: rem(6);

    @each $bp in sm, md {
      @include media-breakpoint-only($bp) {
        position: absolute;
        top: ($main-header-height-mobile - $nav-toggle-height) / 2; // Fix position on iPad 3
        right: calc((100% - #{map-get($container-max-widths, $bp) - $grid-gutter-width}) / 2);
        transition: right $mobile-nav-transition;

        .nav-opened & {
          right: $grid-gutter-width / 2;
        }
      }
    }

    &:focus {
      .keyboard-user & {
        box-shadow: inset 0 0 0 $input-btn-focus-width $input-btn-focus-color;
      }
    }

    svg {
      vertical-align: top;
    }
  }
}
