//
// Header
//

.main-header {
	height: $main-header-height;
	display: flex;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.main-nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
	}

	.nav-item {
		&.active {
			// todo
		}
	}

	.nav-link {
		color: $body-color;

		&:hover {
			// todo
		}
	}

	.log-in {
		color: $link-color;

		&:hover {
			// todo
		}
	}

	.upgrade-storage {
		margin-left: $spacer;
	}

	.nav-toggle {
		border: none;
		background: transparent;
		padding: $spacer-3 ($grid-gutter-width / 2);
		line-height: 1;
		color: inherit;
		margin-right: -$grid-gutter-width / 2;

		svg {
			vertical-align: top;
		}
	}
}