//
// Home
//

.home {
  svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .jumbotron {
    text-align: center;
    color: $white;
    padding-top: 48px; // 64px
    padding-bottom: 26px; // 32px
    margin-bottom: 0;

    @include media-breakpoint-up("md") {
      padding-top: 103px; // 128px
      padding-bottom: 282px; // 192px + 96px
      background: image-url("home/jumbotron.svg") no-repeat center top $jumbotron-bg;
    }

    .display-1 {
      margin-bottom: 11px; // 32px

      @include media-breakpoint-up("md") {
        margin-bottom: 21px; // 48px
      }

      .kern {
        letter-spacing: -0.15em;
        padding-right: calc(7em / 60);
      }
    }

    .lead {
      margin: 0 auto 24px; // 32px
      max-width: 380px;

      @include media-breakpoint-up("md") {
        margin-bottom: 38px; // 48px
        max-width: none;
      }
    }

    .download {
      margin-bottom: 20px; // 14px blank line in draft
    }

    .platforms {
      font-size: $font-size-sm;
      margin-bottom: 0;
    }
  }

  .section-screenshot {
    background: $jumbotron-bg;
    padding-bottom: $spacer-xxxl;

    @include media-breakpoint-up("md") {
      margin-top: -12rem; // -192px
      background: none;
      padding-bottom: 0;
    }
  }

  .screenshot {
    margin: 0;
  }

  .section-md {
    @include media-breakpoint-down("sm") {
      padding-bottom: rem(25);
    }

    &.last {
      @include media-breakpoint-down("sm") {
        padding-bottom: rem(57);
      }
    }
  }

  .page-header {
    @include media-breakpoint-up("md") {
      margin: 135px 0 67px; // 160px
    }
  }

  .features {
    .feature-col {
      &.left {
        @include media-breakpoint-up("lg") {
          padding-right: 25px;
        }

        @include media-breakpoint-up("xl") {
          padding-right: $spacer-xxl - $spacer-xs;
        }
      }

      &.right {
        @include media-breakpoint-up("lg") {
          padding-left: 25px;
        }

        @include media-breakpoint-up("xl") {
          padding-left: $spacer-xxl - $spacer-xs;
        }
      }
    }

    img,
    svg {
      @include media-breakpoint-only("xs") {
        max-width: rem(200);
      }

      @include media-breakpoint-only("sm") {
        max-width: rem(336);
      }

      @include media-breakpoint-down("sm") {
        margin-bottom: rem(35);
      }
    }

    p {
      @include media-breakpoint-up("md") {
        font-size: 1.125rem;
        line-height: $line-height-lg;
      }
    }
  }

  .illu-collect {
    @include media-breakpoint-only("md") {
      margin-top: rem(-46);
    }

    @include media-breakpoint-up("lg") {
      margin-top: rem(-61);
    }
  }

  .illu-sync {
    img {
      width: rem(336);
      height: auto;
    }

    @include media-breakpoint-only("xs") {
      img {
        max-width: rem(220);
      }
    }

    @include media-breakpoint-only("lg") {
      margin: 0 rem(-20);

      img {
        width: rem(484);
        height: rem(336);
      }
    }

    @include media-breakpoint-only("xl") {
      margin: 0 rem(-50);

      img {
        width: rem(544);
        height: rem(336);
      }
    }
  }

  .call-to-action {
    @include media-breakpoint-down("sm") {
      padding-top: rem(19);
    }

    .display-2 {
      margin-bottom: rem(21);

      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
  }
}
