//
// Home
//

.home {
	.screenshot {
		padding-top: 55.5%;
		background: $gray-200;
	}

	.features {
		@include media-breakpoint-up("xl") {
			.feature-col {
				&:first-child {
					padding-right: $spacer-7 - $spacer-2;
				}

				&:last-child {
					padding-left: $spacer-7 - $spacer-2;
				}
			}

			p {
				font-size: $font-size-lg;
				line-height: $line-height-lg;
			}
		}
	}

	.call-to-action {
		a {
			margin-left: $spacer-6;
		}
	}
}