//
// Mobile header
//

.mobile-header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $nav-toggle-width;
  background: $gray-900;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  transform: translate3d(25%, 0, 0);
  transition:
    transform $mobile-nav-transition,
    visibility 0s linear $mobile-nav-transition-duration;

  .nav-opened & {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: transform $mobile-nav-transition;
  }

  .mobile-nav {
    list-style: none;
    margin: 42px 0 46px; // 64px
    padding: 0;

    li {
      &.active {
        .nav-link {
          color: rgba($white, 0.5);
        }
      }
    }

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: {
        left: $spacer-xl;
        right: $spacer-xl;
      }
      color: $white;
      position: relative;

      &:hover {
        text-decoration: none;
      }

      &.separated {
        padding-top: $nav-link-padding-y + rem(1);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: $spacer-xl;
          right: 0;
          border-top: 1px solid lighten($gray-900, 8%);
          z-index: -1;
        }
      }
    }

    .badge {
      color: $gray-900;
      background-color: $white;
      font-size: 100%;
      padding-top: 0.1em;
      padding-bottom: 0.1em;
    }
  }
}

.nav-cover {
  .nav-opened & {
    position: fixed;
    left: 0;
    top: 0;
    width: $nav-toggle-width;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
  }
}
