//
// Mobile header
//

.mobile-header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $nav-toggle-width;
  background: $gray-900;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  transform: translate3d(25%, 0, 0);
  transition:
    transform $mobile-nav-transition,
    opacity 0s linear $mobile-nav-transition-duration;

  .nav-opened & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform $mobile-nav-transition;
  }

  .mobile-nav {
    list-style: none;
    margin: 46px 0 48px; // 64px
    padding: 0;

    li {
      &.active {
        .nav-link {
          color: rgba($white, 0.5);
        }
      }
    }

    .nav-link {
      display: block;
      padding: {
        left: $spacer-xl;
        right: $spacer-xl;
      }
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.nav-cover {
  .nav-opened & {
    position: fixed;
    left: 0;
    top: 0;
    width: $nav-toggle-width;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
  }
}
