//
// Sections
//

.section-sm {
  padding: $spacer-xl 0;

  @include media-breakpoint-up("md") {
    padding: $spacer-xxl 0;
  }
}

.section-md {
  padding: $spacer-xl 0;

  @include media-breakpoint-up("md") {
    padding: ($spacer-max - $spacer) 0;
  }

  &.first {
    padding-top: $spacer-xl * 2;

    @include media-breakpoint-up("md") {
      padding-top: ($spacer-max - $spacer) * 2;
    }
  }

  &.last {
    padding-bottom: $spacer-xl * 2;

    @include media-breakpoint-up("md") {
      padding-bottom: ($spacer-max - $spacer) * 2;
    }
  }
}

section {
  &.separated {
    border-top: 1px solid #e6e6e6;
  }
}
