
#qr-code {
    width:300px;
    margin: auto;
}
#secret-text {
    font-size:2rem;
    text-decoration:bold;
}
div#verify-code {
    margin-top: 2rem;
}
#return-div {
    margin: 1rem 0;
}

.security-key {
    margin: 0.5rem;
}
