.start {
	margin: 0 -40px;
	text-align: center;

	.container {
		padding: 0 15px;

		@media (min-width: $screen-sm-min) {
			padding: 0 80px;
		}
	}

	h1 {
		font-size: 20px;
		line-height: 1.1;
		margin: 0 0 16px;

		@media (min-width: $screen-sm-min) {
			font-size: 30px;
			letter-spacing: -0.5px;
		}
	}

	.install-success {
		display: inline-block;
		vertical-align: top;
		font: {
			size: 24px;
			weight: 700;
		}
		line-height: 1.1;
		color: #19a15f;
		border: 3px solid currentColor;
		border-radius: 6px;
		padding: 16px 24px;
		margin: 20px 0 37px; // top/bottom: 40px

		@media (min-width: $screen-sm-min) {
			margin: 10px 0 48px; // 60px
		}
	}

	.btn {
		color: $white;
		background: $link-color;
		text-decoration: none;
		border-radius: 3px;
		padding: 5px 15px;

		&:hover {
			background: darken($link-color, 5%);
		}
	}


	// Extensions picker on start page

	.extensions-picker {
		padding-bottom: 48px;

		@media (min-width: $screen-sm-min) {
			padding-bottom: 80px;
		}

		.all-extensions ul {
			margin-top: 26px; // 60px
		}

		.inner-start {
			display: block;
		}

		.inner-extensions {
			display: none;
		}

		.jumbotron {
			padding: 0;

			h1 {
				margin: 21px auto 16px; // 32px

				@media (min-width: $screen-sm-min) {
					margin-top: 29px; // 48px
				}
			}

			.show-extensions {
				position: static;
				text-align: center;
				margin-bottom: 0;
			}
		}

		.all-extensions {
			.bookmarklet {
				padding: 0 ($grid-gutter-width / 2);
			}
		}
	}

	.register-section {
		background: url($staticPath + "/images/start/arrow-down-white.svg") no-repeat center top $gray-lightest;
		background-size: 51px auto;
		padding: 46px 0 38px; // 2/3

		@media (min-width: $screen-sm-min) {
			background-size: 76px auto;
			padding: 68px 0 65px; // 80px
		}
	}

	#register-form {
		margin: 34px 0 0; // 40px

		@media (min-width: $screen-sm-min) {
			margin: 54px 0 0; // 60px
		}

		.form-control,
		.btn {
			display: block;
			margin: auto;
			height: 42px; // Thumb size
			font: {
				family: inherit;
				size: 16px;
			}

			@media (min-width: $screen-sm-min) {
				max-width: 302px; // Adjust to captcha width
				height: 48px;
				font-size: 20px;
			}
		}

		.form-control {
			padding: 13px 12px;
			color: #222;
			box-shadow: none;

			&:focus {
				border-color: mix($white, $link-color, 40%);
				box-shadow: 0 0 0 2px mix($white, $link-color, 40%);
			}
		}

		::-webkit-input-placeholder {
			color: $slate;
		}

		::-moz-input-placeholder {
			color: $slate;
		}

		::-ms-input-placeholder {
			color: $slate;
		}

		.g-recaptcha {
			width: 302px;
			margin: auto;

			@media (max-width: $screen-xs-max) {
				transform-origin: left top;
				transform: scale(0.96);
			}
		}

		.btn {
			width: 100%;

			&:hover {
				border-color: transparent;
			}
		}

		p {
			margin: 5px auto;

			&:empty {
				display: none;
			}
		}

		.profile-preview {
			color: #19a15f;

			&.undecided {
				color: inherit;
			}

			&.invalid {
				color: #c00;
			}
		}

		.username-message {
			color: $slate;

			@media (min-width: $screen-sm-min) {
				width: 450px;
				margin: {
					left: auto;
					right: auto;
				}
			}
		}

		.form-field-error {
			color: #c00;
		}
	}

	.post-register-guide {
		background: url($staticPath + "/images/start/arrow-down-gray.svg") no-repeat center top;
		background-size: 51px;
		padding: 53px 0 47px; // 2/3

		@media (min-width: $screen-sm-min) {
			background-size: 76px auto;
			padding: 80px 0 72px; // 80px
		}
	}

	.connector-button {
		margin-bottom: 25px; // 2/3

		@media (min-width: $screen-sm-min) {
			margin-bottom: 36px; // 48px
		}
	}

	.register-quick-links {
		list-style: none;
		padding: 0;
		font-size: 16px;
		line-height: 1.5;
		margin: 25px 0 0; // 2/3

		@media (min-width: $screen-sm-min) {
			font-size: 20px;
			margin: 43px 0 0; // 60px;
		}

		li + li {
			margin-top: 5px;
		}
	}
}