.start {
	margin: 0 -40px;
	text-align: center;

	* {
		box-sizing: border-box;
	}

	.container {
		padding: 0 15px;
	}

	.btn {
		color: $white;
		background: $link-color;
		text-decoration: none;
		border-radius: 3px;
		padding: 5px 15px;

		&:hover {
			background: darken($link-color, 5%);
		}
	}

	h1 {
		font-size: 24px;
		margin: 19px auto 16px; // 32px

		@media (min-width: $screen-sm-min) {
			font-size: 36px;
			margin-top: 27px; // 48px
			letter-spacing: -1px;
		}
	}

	.install-success {
		display: inline-block;
		vertical-align: top;
		font: {
			size: 24px;
			weight: 700;
		}
		line-height: 1.1;
		color: #19a15f;
		border: 3px solid currentColor;
		border-radius: 6px;
		padding: 16px 24px;
		margin: 10px 0 48px; // 60px
	}


	// Extensions picker on start page

	.extensions-picker {
		padding-bottom: 80px;

		.all-extensions ul {
			margin-top: 26px; // 60px
		}

		.inner-start {
			display: block;
		}

		.inner-extensions {
			display: none;
		}

		.jumbotron {
			padding: 0;

			.show-extensions {
				position: static;
				text-align: center;
				margin-bottom: 0;
			}
		}
	}


	.register-section {
		background: $gray-lightest;
	}
	
	ul#register-quick-links {
		li {
			font-size: 1.3em;
			list-style: none;
			margin: 10px;
		}
	}
}