.start {
  text-align: center;

  .install-success {
    font-size: $font-size-lg-mobile;
    font-weight: 300;
    color: $white;
    background-color: map-get($theme-colors, success);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: (27px) ($grid-gutter-width / 2);

    @include media-breakpoint-up(md) {
      font-size: $font-size-lg;
      padding: (40px - 10px) ($grid-gutter-width / 2);
    }
  }

  .section-extensions {
    padding-top: $section-padding-md-mobile - rem(3);

    @include media-breakpoint-up(md) {
      padding: ($section-padding-md - rem(6)) 0 $section-padding-md;
    }
  }

  // Extensions picker on start page
  .extensions-picker {
    h1 {
      margin-top: $spacer-xl - rem(11);

      @include media-breakpoint-up(md) {
        margin-top: $spacer-xxl - rem(18);
      }
    }

    .lead {
      margin-bottom: $spacer-xl - rem(8);

      @include media-breakpoint-up(md) {
        margin-bottom: $spacer-xxl - rem(8);
      }
    }

    .all-extensions ul {
      margin-top: 26px; // 60px
    }

    .inner-start {
      display: block;
    }

    .inner-extensions {
      display: none;
    }

    .show-extensions {
      position: static;
      text-align: center;
      margin-bottom: 0;
    }

    .all-extensions {
      .bookmarklet {
        padding: 0 ($grid-gutter-width / 2);
      }
    }
  }

  .register-section {
    background: url($staticPath + "/images/start/arrow-down-white.svg") no-repeat center top $gray-100;
    background-size: 51px auto;
    padding: 46px 0 38px; // 2/3

    @media (min-width: map-get($grid-breakpoints, sm)) {
      background-size: 76px auto;
      padding: 68px 0 65px; // 80px
    }
  }

  #register-form {
    margin: 34px 0 0; // 40px

    @media (min-width: map-get($grid-breakpoints, sm)) {
      margin: 54px 0 0; // 60px
    }

    .form-control,
    .btn {
      display: block;
      margin: auto;
      height: 42px; // Thumb size
      font: {
        family: inherit;
        size: 16px;
      }

      @media (min-width: map-get($grid-breakpoints, sm)) {
        max-width: 302px; // Adjust to captcha width
        height: 48px;
        font-size: 20px;
      }
    }

    .form-control {
      padding: 13px 12px;
      color: #222;
      box-shadow: none;

      &:focus {
        border-color: mix($white, $link-color, 40%);
        box-shadow: 0 0 0 2px mix($white, $link-color, 40%);
      }
    }

    ::-webkit-input-placeholder {
      color: $gray-800;
    }

    ::-moz-input-placeholder {
      color: $gray-800;
    }

    ::-ms-input-placeholder {
      color: $gray-800;
    }

    .g-recaptcha {
      width: 302px;
      margin: auto;

      @media (max-width: map-get($grid-breakpoints, sm)) {
        transform-origin: left top;
        transform: scale(0.96);
      }
    }

    .btn {
      width: 100%;

      &:hover {
        border-color: transparent;
      }
    }

    p {
      margin: 5px auto;

      &:empty {
        display: none;
      }
    }

    .profile-preview {
      color: #19a15f;

      &.undecided {
        color: inherit;
      }

      &.invalid {
        color: #c00;
      }
    }

    .username-message {
      color: $gray-800;

      @media (min-width: map-get($grid-breakpoints, sm)) {
        width: 450px;
        margin: {
          left: auto;
          right: auto;
        }
      }
    }

    .form-field-error {
      color: #c00;
    }
  }

  .post-register-guide {
    background: url($staticPath + "/images/start/arrow-down-gray.svg") no-repeat center top;
    background-size: 51px;
    padding: 53px 0 47px; // 2/3

    @media (min-width: map-get($grid-breakpoints, sm)) {
      background-size: 76px auto;
      padding: 80px 0 72px; // 80px
    }
  }

  .connector-button {
    margin-bottom: 25px; // 2/3

    @media (min-width: map-get($grid-breakpoints, sm)) {
      margin-bottom: 36px; // 48px
    }
  }

  .register-quick-links {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    margin: 25px 0 0; // 2/3

    @media (min-width: map-get($grid-breakpoints, sm)) {
      font-size: 20px;
      margin: 43px 0 0; // 60px;
    }

    li + li {
      margin-top: 5px;
    }
  }
}
