// stylelint-disable max-empty-lines

//
// Type
//


// Display Headings

.display-1,
.display-2 {
  font-family: "AvenirLTPro-Light", $font-family-sans-serif;
  letter-spacing: -0.025em;
}

.display-2 {
  margin-bottom: 1.75rem; // 28px
}
