// stylelint-disable max-empty-lines

//
// Type
//


// Enable kerning

body {
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  letter-spacing: -0.01em; // Adapt Avenir Next to Avenir Pro. Set to 0 for small text if needed.
}

h1,
.h1 {
  margin-bottom: rem(20);
  letter-spacing: -0.035em;

  @include media-breakpoint-down(sm) {
    font-size: $h1-font-size-mobile;
  }
}


// Display Headings

.display-1,
.display-2 {
  letter-spacing: -0.035em;
}

.display-1 {
  @include media-breakpoint-down("sm") {
    font-size: $display1-size-mobile;
  }
}

.display-2 {
  margin-bottom: rem(28);

  @include media-breakpoint-down("sm") {
    font-size: $display2-size-mobile;
    margin-bottom: rem(12);
  }
}


// Page header

.page-header {
  margin: rem(47) 0 rem(24);

  @include media-breakpoint-up("md") {
    margin: ($spacer-xxxl + $spacer-max) 0 ($spacer-max - $spacer);
  }
}


// Lead

.lead {
  @include media-breakpoint-up("md") {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


// Paragraph

p:last-child {
  margin-bottom: 0;
}
