div.key-editor {
	width:500px;
	margin:auto;
	margin-bottom:20px;

	ul {
		list-style: none;
		margin-left:0;
		margin-top:0;
		padding-left:0;
	}
	li {
		margin-bottom:1em;
	}
	div.all-groups-permissions {
		margin-bottom:1em;
	}
	div.personal-library-permissions {
		margin-bottom:1em;
	}

	#key-permissions-summary {
		margin:4px;
		padding:4px;
		background-color:$smoke;

		ul, li {
			margin-bottom:0;
		}
	}
}

#oauth_verifier {
	font-size:x-large;
	background:$notification-success-color;
	padding:25px;
	text-align:center;
}
