// Zotero style.css modifications
// --------------------------------------------------

//variables
$notification-success-color: #dff0d8;
$notification-success-border-color: #cfe0c8;

$notification-info-color: #fbd438;
$notification-info-border-color: #fbd438;

$notification-error-color: #f0dfd8;
$notification-error-border-color: #e0cfc8;

$button-blue: #38c;

$input-focus-blue:rgb(0,0,255);

$valid-green: rgb(0,150,0);
$invalid-red: rgb(200,0,0);


// Fix in style.css
.center {
	width: 900px; // Fix width from 901px to 900px
}

#content .center.container {
	min-height:500px;
}

// Add helper class
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hidden {
	display:none;
}

a {
	cursor:pointer;
}

// Style email inputs the same as text/password
input[type="email"] {
	display:block;
	padding:4px;
	border-radius: 4px;
	border:1px solid rgba(0,0,0,.2);
}

button, a.button {
	font-weight:normal;
}
