// Zotero style.css modifications
// --------------------------------------------------

// Fix in style.css
.center {
	width: 900px; // Fix width from 901px to 900px
}

// Add helper class
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

div.hidden {
	display:none;
}

a {
	cursor:pointer;
}
