div#combined-search {
	min-height: 400px;
}

div.resultsCount {

}

div.results {
	border-top: 3px solid rgba(0,0,0,.3);
}

form.global-search-form {
	input {
		display:table-cell;
		width:100%;
		padding:4px;
		border-radius:4px;
		border: 1px solid rgba(0,0,0,0.2)
	}

	div.input-group {
		position:relative;
		display:table;
		border-collapse:separate;

		span {
			display:table-cell;
		}
	}
}

form#global-search-form {
	margin: 10px;
	margin-bottom:20px;
}
div.canonicalItem h2 {
	font-size:16px;
}
div.canonicalItem h3 {
	font-size:14px;
}
div.canonicalItem ul {
	list-style:none;
}
div.canonicalItem td {
	padding:5px;
}
div.canonicalItem .search-result-body {
	border-left:3px solid rgba(0,0,255,.6);
	padding-left:5px;
}
