div#start-container {
	width: calc(100% + 80px);
	margin-left:-40px;
	
	div.content {
		width:80%;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}

	.extensions-picker .jumbotron {
		text-align: center;
		background: white;
		padding:20px 0 40px;
	}

	p.show-extensions {
		position:static;
		text-align: center;
	}

	#all-extensions {
		position:relative;
		top:-120px;
	}

	.btn {
		color: $white;
		background: $link-color;
		text-decoration: none;
		border-radius: 3px;
		padding: 5px 15px;

		&:hover {
			background: darken($link-color, 5%);
		}
	}

	div.arrow-down {
		margin-top:-20px;
	}

	div.install-success-div {
		width:50%;
		margin:auto;
		text-align: center;
		
		h1 {
			border: 3px solid #2a2;
			border-radius: 6px;
			padding:10px;
			color:#2a2;
			font-size: 20px;
		}
	}

	p.showExtensions {
		margin-top:20px;
	}
}
div#register-section {
	background-color: $smoke;
	padding-top:20px;
	padding-bottom:20px;
}
div#register-form {
	margin-left:auto;
	margin-right:auto;
	width:300px;
	margin-bottom: 20px;

	input {
		width:95%;
		margin-top:5px;
		border-radius: 5px;
		border-width: 1px;
		font-size: 1.5em;
		padding:8px;
	}

	input:focus {
		border-color: $input-focus-blue;
		padding:6px;
		border-width: 3px;
		border-radius:6px;
	}

	p.valid {
		color:$valid-green;
	}
	p.invalid {
		color:$invalid-red;
	}

	[name=password_confirm] {
		margin-bottom:5px;
	}

	.btn {
		width:100%;
		padding:5px 15px;
		font-size:18px;
	}
}

p#register-form-error {
	background-color:$notification-error-color;
	padding:3px;
}

div#post-register-guide {
	padding-top:20px;
	padding-bottom:20px;
}

div#register-quick-links {
	font-size: 1.3em;
	text-align:center;

	a {
		text-decoration: none;
	}

	p {
		margin:2px;
	}
}

p.form-field-error {
	color: $invalid-red;
}
