div.modal {
    position:fixed;
    background-color: rgba(0,0,0,.3);
    left:0;
    top:0;
    width:100%;
    height:100%;
}
div.modal-text {
    position:absolute;
    top:50%;
    width:100%;
}
p.modal-text {
    text-align:center;
    font-size: 1.5em;
}
div.storage-notification {
    margin:4px;
    padding:8px;
    border-radius: 4px;
    display:none;
}
div.storage-notification.success {
    background-color: #dff0d8;
    border-color: #cfe0c8;
    display:block;
}
div.storage-notification.error {
    background-color: #f0dfd8;
    border-color: #e0cfc8;
    display:block;
}

div.user-storage {
    display:-webkit-flex;
    display:flex;
}

div.user-storage > div.flex-section {
    margin:5px;
    -webkit-flex:1 1 45%;
    flex:1 1 45%;
    min-width: 200px;

    border: 1px solid #ddd;
    border-radius: 4px;
}

div.user-storage div.section-header {
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    padding:10px 15px;
}

div.user-storage div.section-body {
    padding:15px;
}

div.user-storage button.btn {
    font-size: 12px;
    background-color: #337ab7;
    color:#fff;
}
div.user-storage button.btn:hover {
    background-color: #286090;
    color:#fff;
    border-color: #286090;
}
div.user-storage button.btn:disabled {
    background-color: #a0a0a0;
}
tr.current-plan {
    background-color: #dff0d8;
}

@media all and (max-width: 640px) {
    div.user-storage {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}