#group-intro-screencast {
	display:block;
	width:500px;
}

#user-groups-div {
	width:80%;
	margin:auto;
}

.major-col #user-groups-div {
	width:100%;
}


#group-explainer {
	width:80%;
	margin:auto;
}
