//
// Zotero web components
// ---------------------

@import 'themes/light';

@import 'common';

@import '_spinner';

@import 'Storage';
@import 'GroupInvitations';
@import 'InviteToGroup';
@import 'UserGroups';
@import 'Start';
@import 'extensions';
@import 'extensions-picker';
@import 'downloads';
@import 'group-information';
@import 'ApiKeyEditor';
@import 'Notifier';

@import 'GlobalSearch';
