//
// Zotero web components
// --------------------------------------------------
/*
$theme-colors: (
	primary: #5c93e5,
	secondary: gray,
	success: green,
	info: cyan,
	warning: yellow,
	danger: red,
	light: lightgray,
	dark: gray
);
*/
@import 'themestyle';
@import 'main';

@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'layout';

@import 'themes/light';

@import 'common';

@import 'spinner';


// Components
// --------------------------------------------------

@import 'Storage';
@import 'GroupInvitations';
@import 'InviteToGroup';
@import 'UserGroups';
@import 'register-form';
@import 'start';
@import 'extensions';
@import 'extensions-picker';
@import 'all-extensions';
@import 'downloads';
@import 'group-information';
@import 'ApiKeyEditor';
@import 'Notifier';
@import 'profile';

@import 'GlobalSearch';