//
// Zotero web components
// --------------------------------------------------

@import 'themes/light';

@import 'common';

@import 'spinner';

@import 'components/react-tabs';
// Components
// --------------------------------------------------

@import 'Storage';
@import 'GroupInvitations';
@import 'InviteToGroup';
@import 'UserGroups';
@import 'register-form';
@import 'start';
@import 'extensions';
@import 'extensions-picker';
@import 'all-extensions';
@import 'downloads';
@import 'group-information';
@import 'ApiKeyEditor';
@import 'Notifier';
@import 'components/changeusername';
@import 'components/institution-checkout';
@import 'manage-emails';

@import 'GlobalSearch';